/* Utility */

body {
  background-color: gainsboro;
  /* font-family: Helvetica, Sans-Serif; */
}

.img-avatar {
  width: 45px;
  border-radius: 50%;
}

i {
  font-size: 20px;
  color: #a9a9a9;
  cursor: pointer;
}

input {
  line-height: 2;
  border: none;
  outline: none;
}

.text-secondary {
  font-size: 12px;
}

.bold-text {
  font-weight: 500;
}
/* ----------- */

header {
  height: 130px;
  background-color: lightseagreen;
}

#app {
  height: 100vh;
}

/* Structure containers */

.container-big {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  width: 90%;
  background: snow;
}

.container-sidebar {
  width: 35%;
  border-right: 1px solid #ccc;
}

.container-chat {
  width: 65%;
}

/* Sidebar */

.panel-bar {
  background-color: #e8e8e8;
  height: 60px;
}

.user-avatar {
  cursor: pointer;
}

.notification-bar {
  background-color: #00bfff;
  height: 70px;
}

.bell-icon {
  background-color: snow;
  border-radius: 50%;
  color: #00bfff;
}

.search-bar {
  height: 55px;
}

#lens-sidebar {
  font-size: 17px;
}

.internal-search {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.users-bar {
  margin-right: 10px;
  border-right: 1px solid #ccc;
  height: calc(100% - 185px);
}

.user-chat {
  cursor: pointer;
}

.user-chat:hover {
  background-color: #e8e8e8;
}

/* main */

.chat-box-above {
  height: calc(100% - 60px);
}

.chat-space {
  background: url(../img/mine.jpg) repeat;
  height: calc(100% - 60px);
  overflow: auto;
}

.user-message,
.interlocutor-message {
  border-radius: 10px;
}

.user-message {
  background-color: #dcf8c6;
  float: left;
}

.interlocutor-message {
  background-color: snow;
  float: right;
}

.clear-fix::after {
  content: "";
  display: table;
  clear: both;
}

.chat-box-below i {
  color: #808080;
}
