/* Utility */

body {
  background-color: gainsboro;
}

.img-avatar {
  width: 12%;
  border-radius: 50%;
}

i {
  font-size: 20px;
  color: #a9a9a9;
}

input {
  width: 100%;
  border-radius: 5px;
  line-height: 2;
}

.text-secondary {
  font-size: 14px;
}
/* ----------- */

header {
  height: 130px;
  background-color: lightseagreen;
}

#app {
  height: 100vh;
}

/* Structure containers */

.container-big {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  width: 90%;
}

.container-sidebar {
  width: 35%;
  border-right: 1px solid #ccc;
}

.container-chat {
  width: 65%;
}

/* Sidebar */

.panel-bar {
  background-color: #e8e8e8;
  height: 60px;
}

.notification-bar {
  background-color: #00bfff;
  height: 70px;
}

.bell-icon {
  background-color: snow;
  border-radius: 50%;
  color: #00bfff;
}

.search-bar {
  height: 55px;
}

.users-bar {
  margin-right: 10px;
  background-color: wheat;
  border-right: 1px solid #ccc;
  height: calc(100% - 185px);
}

